.editable-row-operations a {
	margin-right: 8px;
}

.but {
	float: right;
	/*background: deepskyblue;*/
	width: 100px;
	border-radius: 5px;
	/*color: white;*/
	margin-left: 10px;
}
/*#but1{
	margin-right: -10px;
}*/
.yansi {
	font-size: 20px;
	/*color: red;*/
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid rgb(232, 232, 232);
	padding: 10px 16px;
	text-align: right;
	left: 0px;
	background: #fff;
	color: black;
}
.but-chaxun{
	/*float: right;*/
	background: white;
	width: 100%;
	border-radius: 10px;
	color: black;
}
.box{
	width: 100%;
}
.inp{
	border-radius: 10px;
	border: 1px black solid;
}
