<nz-breadcrumb class='yansi'>
	<!--<nz-breadcrumb-item>
		<span [routerLink]="['../../']">Home</span>
	</nz-breadcrumb-item>-->
	<!--<nz-breadcrumb-item>-->
		成员列表
	<!--</nz-breadcrumb-item>-->
	<nz-breadcrumb-item>
		<button id="but1" class="but" nz-button [nzType]="'primary'" (click)="showModal()"><span>查询列表</span><i nz-icon [nzType]="'search'"></i></button>
		<nz-modal [(nzVisible)]="isVisible" nzTitle="查询列表" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
			<form nz-form>
				<div nz-row nzGutter="8">
					<div nz-col nzSpan="12">
						<nz-form-item>
							<nz-form-label>姓名</nz-form-label>
							<nz-form-control>
								<input nz-input placeholder="请注册姓名" />
							</nz-form-control>
						</nz-form-item>
					</div>
					<div nz-col nzSpan="12">
						<nz-form-item>
							<nz-form-label>年龄</nz-form-label>
							<nz-form-control>
								<nz-input-group>
									<input type="text" nz-input placeholder="请输入真实年龄" />
								</nz-input-group>
							</nz-form-control>
						</nz-form-item>
					</div>
				</div>
				<div nz-row nzGutter="8">
					<div nz-col nzSpan="12">
						<nz-form-item>
							<nz-form-label>身份证号</nz-form-label>
							<nz-form-control>
								<input type="text" nz-input placeholder="请输入真实身份证号码" />
							</nz-form-control>
						</nz-form-item>
					</div>
				</div>
			</form>
		</nz-modal>
 
		<button class="but" nz-button nzType="primary" (click)="open()"><span>添加列表&nbsp;&nbsp;<i nz-icon [nzType]="'plus-square'"></i></span></button>
		<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }" [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible" nzTitle="添加" (nzOnClose)="close()">
			<form nz-form>
				<div nz-row nzGutter="8">
					<div nz-col nzSpan="12">
						<nz-form-item>
							<nz-form-label>姓名</nz-form-label>
							<nz-form-control>
								<input nz-input placeholder="请注册姓名" />
							</nz-form-control>
						</nz-form-item>
					</div>
					<div nz-col nzSpan="12">
						<nz-form-item>
							<nz-form-label>年龄</nz-form-label>
							<nz-form-control>
								<nz-input-group>
									<input type="text" nz-input placeholder="请输入真实年龄" />
								</nz-input-group>
							</nz-form-control>
						</nz-form-item>
					</div>
				</div>
				<div nz-row nzGutter="8">
					<div nz-col nzSpan="12">
						<nz-form-item>
							<nz-form-label>身份证号</nz-form-label>
							<nz-form-control>
								<input type="text" nz-input placeholder="请输入真实身份证号码" />
							</nz-form-control>
						</nz-form-item>
					</div>
				</div>
			</form>
			<div class="footer">
				<button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>取消</span></button>
				<button type="button" (click)="close()" class="ant-btn ant-btn-primary"><span>确定</span></button>
			</div>
		</nz-drawer>
	</nz-breadcrumb-item>
</nz-breadcrumb>
<div style="height: 20px;"></div>
<nz-table #editRowTable nzBordered [nzData]="listOfData">
	<thead>
		<tr>
			<th nzWidth="25%">姓名</th>
			<th nzWidth="15%">年龄</th>
			<th nzWidth="40%">身份证号</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let data of editRowTable.data">
			<td>
				<ng-container *ngIf="!editCache[data.id].edit; else nameInputTpl">
					{{ data.name }}
				</ng-container>
				<ng-template #nameInputTpl>
					<input type="text" nz-input [(ngModel)]="editCache[data.id].data.name" />
				</ng-template>
			</td>
			<td>
				<ng-container *ngIf="!editCache[data.id].edit; else ageInputTpl">
					{{ data.age }}
				</ng-container>
				<ng-template #ageInputTpl>
					<input type="text" nz-input [(ngModel)]="editCache[data.id].data.age" />
				</ng-template>
			</td>
			<td>
				<ng-container *ngIf="!editCache[data.id].edit; else addressInputTpl">
					{{ data.address }}
				</ng-container>
				<ng-template #addressInputTpl>
					<input type="text" nz-input [(ngModel)]="editCache[data.id].data.address" />
				</ng-template>
			</td>
			<td>
				<div class="editable-row-operations">
					<ng-container *ngIf="!editCache[data.id].edit; else saveTpl">
						<a (click)="startEdit(data.id)">编辑</a>
					</ng-container>
					<ng-template #saveTpl>
						<a (click)="saveEdit(data.id)">确定</a>
						<a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
					</ng-template>

					<nz-divider nzType="vertical"></nz-divider>

					<ng-container *ngIf="!editCache[data.id].edit;">
						<a nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="confirm(data.id)" (nzOnCancel)="cancel()">删除</a>
					</ng-container>

				</div>
			</td>
		</tr>
	</tbody>
</nz-table>