<nz-layout class="layout" style="height: 100%;" >
	<nz-header>

		<div class="header_left">
			<div class="logo"></div>
			<div class="title">
				XXXXERP
			</div>

		</div>
		<div class="header_right">
			<ul>

				<li><i nz-icon type="user" theme="outline"></i>
					<a href="erp-web/login">请登录</a>
				</li>
				<li>
					<nz-dropdown [nzPlacement]="'bottomCenter'" [nzTrigger]="'click'">
						<span nz-dropdown >
							<nz-badge [nzCount]="5" style="margin-right: 24px;">
						      <nz-avatar nzIcon="user" [nzShape]="'square'" nzSrc="../../assets/1.png" ></nz-avatar> 
						    </nz-badge>
						</span>
							
						<ul nz-menu>
							<li nz-menu-item>
								<a>1st menu item length</a>
							</li>
							<li nz-menu-item>
								<a>2nd menu item length</a>
							</li>
							<li nz-menu-item>
								<a>3rd menu item length</a>
							</li>
						</ul>
						 </nz-dropdown>
						<li></li>
			</ul>
		</div>
	</nz-header>
	<nz-layout>
		<nz-sider [nzWidth]="200" style="background:#fff; overflow: auto; height: 90vh;  left: 0;">
			<!--[nzWidth]宽度     类型number｜string	  默认值200-->
			<ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
				 
				<li nz-submenu>
					<span title><i nz-icon type="user"></i>成员管理</span>
					<ul>
						<li nz-menu-item> <a routerLink="xueyuan" routerLinkActive="active" >成员列表</a></li>
						
					</ul>
				</li>
				<li nz-submenu>
					<span title><i nz-icon type="laptop"></i>权限管理</span>
					<ul>
						<li nz-menu-item> 权限列表</li>
						<li nz-menu-item><a routerLink="roule" routerLinkActive="active" >权限分配</a></li>
						
					</ul>
				</li>
				<li nz-submenu>
					<span title><i nz-icon type="tool" theme="outline"></i>生产</span>
					<ul>
						<li nz-menu-item router-link > <a routerLink="list" routerLinkActive="active" >产品列表</a></li>
						<li nz-menu-item router-link > <a routerLink="pic" routerLinkActive="active" >生产检测</a></li>
						
					</ul>
				</li>
				<li nz-submenu>
					<span title><i nz-icon nzType="shopping" nzTheme="outline"></i>采购管理</span>
					<ul>
						<li nz-menu-item> 供应商</li>
						<li nz-menu-item> <a routerLink="after" routerLinkActive="active" >供应商-售后</a></li>
						
						
					</ul>
				</li>
				<li nz-submenu>
					<span title><i nz-icon nzType="bank" nzTheme="outline"></i>库存管理</span>
					<ul>
						<li nz-menu-item> <a routerLink="inventory" routerLinkActive="active" >仓库储存</a></li>
						<li nz-menu-item><a routerLink="storage" routerLinkActive="active" >仓储情况</a></li>
						
					</ul>
				</li>
				<li nz-submenu>
					<span title><i nz-icon nzType="dollar" nzTheme="outline"></i>销售管理</span>
					<ul>
						<li nz-menu-item><a routerLink="management" routerLinkActive="active" > 客户集群</a></li>
						<li nz-menu-item><a routerLink="clienticon" routerLinkActive="active" >客户情况</a></li>
						
					</ul>
				</li>
			</ul>
			<button nz-button nzType="default" style="width: 100%;position: absolute; bottom: 7%; " (click)="signout()"><i nz-icon type="export" theme="outline"></i>注销</button>
			<button nz-button nzType="default" style="width: 100%;position: absolute; bottom: 3%; "><i nz-icon type="setting" theme="outline"></i><a routerLink="set" routerLinkActive="active" >设置</a></button>

		</nz-sider>
	<nz-layout style="padding:0 24px 24px">
	<nz-breadcrumb style="margin:16px 0;">
		<!--<nz-breadcrumb-item>Home</nz-breadcrumb-item>
				<nz-breadcrumb-item>List</nz-breadcrumb-item>
				<nz-breadcrumb-item>App</nz-breadcrumb-item>-->
		<nz-breadcrumb [nzAutoGenerate]="true">
			<!--<a [routerLink]="['erp-web/home']">home/</a>-->
				<nz-breadcrumb-item>
					Home
				</nz-breadcrumb-item>
		</nz-breadcrumb>
	</nz-breadcrumb>
	<nz-content style="background:#fff; padding: 10px; min-height: 284px; ">
				
				<router-outlet ></router-outlet>
			</nz-content>
		</nz-layout>
	</nz-layout>
</nz-layout>

